.cards {
    display: flex; 
    justify-content: center;
}

#info-perfis {
    border: 1px solid #cdc8ff;
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 12px;
    margin-left: 5px;
    text-align: center;
    width: 1000px;
}

img {
    height: 150px;
    padding: 5px 0;
}

button {
    cursor: pointer;
}

.botao {
    background-color: #5c90ff;
    color: cornsilk;
    height: 30px;
    width: 30px;
    border-radius: 20px;
    border-color:transparent;
    cursor: pointer;
}

#botoes {
    text-align: center;
    margin-top: 30px;
}


